#content {
	width: 100%;
	margin: 0 auto;
}

#masthead {
	background: #fff;
}

.bread, .header-sub, .scroll-c {
	display: none !important;
}

.de-c {
	margin: 0 0 20px 0;
}
/** show-header-img **/
.show-header-box {
	position: relative;
	background: #f1f1f1;
    overflow: hidden;
}

.show-big-img img {
	float: left;
	width: 100%;
	height: auto;
	max-width: 100%;
	transition-duration: .5s;
}

.show-header-main {
	position: absolute;
	top: 20%;
	left: 20%;
}

.show-small-img {
	float: left;
	width: 50%;
	height: auto;
	border-radius: 2px;
	transition-duration: .5s;
}

.show-small-img img {
	float: left;
	width: 100%;
	height: auto;
	max-width: 100%;
}

.show-header-box:hover .show-small-img {
	-webkit-animation-name: avatar;
	animation-name: avatar;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.show-header-w {
	float: left;
	width: 49%;
	height: auto;
	max-width: 100%;
	padding: 0 0 0 10px;
}

.show-header-content p {
	color: #fff;
	line-height: 230%;
	text-shadow: 1px 1px 0 #000;
}

.show-template-default #respond, 
.no-comments, 
.comment-list li {
	border: none;
	box-shadow: none;
}

.comments-title, #respond h3 {
	display: none;
}

.my-comments {
	font-size: 18px;
	font-size: 1.8rem;
	text-align: center;
}

@media screen and (max-width: 1440px) {
	.show-big-img img {
		width: 120%;
		max-width: 120%;
		margin: 0 0 0 -10%;
	}

	.show-header-main {
		left: 10%;
	}
}

@media screen and (max-width: 900px) {
	.show-big-img img {
		width: 200%;
		max-width: 200%;
		margin: 0 0 0 -30%;
	}

	.show-header-main {
		left: 15px;
	}
}

@media screen and (max-width: 640px) {
	.show-small-img {
		display: none;
	}

	.show-header-w {
		width: 100%;;
	}
}